<p>register works!</p>

<h3>Register</h3>

<form (ngSubmit)="register()">
     
    <div>
        <label for="name">Name:</label>
        <input type="name" name="name" [(ngModel)]="name" placeholder="Enter name" required > 
    </div>
    <div>
        <label for="email">Email:</label>
        <input type="email" name="email" [(ngModel)]="email" placeholder="Enter email" required > 
    </div>
    <div>
        <label for="password">Password:</label>
        <input type="password" name="password" [(ngModel)]="password" placeholder="Enter password" required > 
    </div>
    <div>
        <label for="mobileNumber">mobileNumber:</label>
        <input type="mobileNumber" name="mobileNumber" [(ngModel)]="mobileNumber" placeholder="Enter mobileNumber" required > 
    </div>
    <button type="submit">Submit</button>
</form>